<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doudou.dao.mapper.resources.DdUserResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.doudou.dao.entity.resources.DdUserResource">
        <result column="id" property="id"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="del_flag" property="delFlag"/>
        <result column="remark" property="remark"/>
        <result column="user_id" property="userId"/>
        <result column="res_id" property="resId"/>
        <result column="user_res_type" property="userResType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_date,
        update_date,
        del_flag,
        remark,
        user_id, res_id,user_res_type
    </sql>

    <select id="getList" resultType="java.util.Map">
        SELECT
            dr.res_title as title,
            dr.check_status as checkStatus,
            dr.res_convert_integral as integral,
            dr.res_publish AS pulisher,
            dr.id AS redId,
            dr.res_summary AS summary,
            dr.res_upload_num as resUploadNum,
            dr.res_upload_address as resUploadAddress
        FROM
            dd_user_resource dur
            INNER JOIN dd_resources dr ON dur.res_id = dr.id
        <where>
            <if test="userId != null and userId != ''">
                AND dur.user_id = #{userId}
            </if>
            <if test="type != null">
                AND dur.user_res_type = #{type}
            </if>
        </where>
    </select>

</mapper>
